@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #101010;
  --card-color: #000000;
  --font-color: #f7f7f9;
  --accent-color: #ff509b;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
}
