.card {
  --border-width: 1px;
  background-color: var(--card-color);
  border-width: var(--border-width);
  border-style: solid;
  border-image: linear-gradient(to top, var(--accent-color), var(--card-color))
    1 10%;
  border-bottom: solid var(--accent-color) var(--border-width);
  min-height: 270px;
}

.content {
  --border-width: 1px;
  background-color: var(--card-color);
  border-width: var(--border-width);
  border-style: solid;
  border-image: linear-gradient(to top, var(--accent-color), var(--card-color))
    1 10%;
  border-bottom: solid var(--accent-color) var(--border-width);
}

.title {
  max-width: 315px;
}
